<div class="container">
	<div class="logo" fxHide.xs>
		<img alt="loginSignup" src="../../../assets/loginsignup.png">
		<h2>Online Book Shopping</h2>
	</div>
  
	  <div class="login-container">
      <div class="login-signup-select">
        <div class="login-select" (click)=showLogin()>
          <div class="login-and-underline" >
            <h1 [ngClass]="{'gray-color':signupShown===true}">LOGIN</h1>
            <div [ngClass]="{'underline':signupShown===false}"></div>
          </div>
        </div>
        <div class="signup-select" (click)=showSignup()>
          <div class="signup-underline" >
            <h1  [ngClass]="{'gray-color':signupShown===false}">SIGNUP</h1>
            <div [ngClass]="{'underline':signupShown===true}"></div>
          </div>
        </div>
      </div>
    <router-outlet></router-outlet>
  </div>
</div>